# General
.DS_Store
.AppleDouble
.LSOverride
desktop.ini

# Icon must end with two \r
Icon

# Thumbnails/macOS resource forks
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
